* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
#main {}

#header {
    z-index: 1;
    height: 46px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;

}

#nav li:hover .subnav {
    display: block;
}

#nav>li>a {
    color: #fff;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;

}


#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0.3);

}

#nav .subnav a {
    color: #000;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search {
    float: right;
    line-height: 46px;
    padding: 0 21px;

}

#header .search:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;

}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(./chicago.jpg) top center /cover no-repeat;
}

#slider .text-conten {
    position: absolute;
    bottom: 50px;
    left: 45%;
    color: #fff;

    text-align: center;
}

#sider .text-heading {

    font-weight: 500;
    font-size: 15px;

}

#conten {}

#conten .conten-section {
    width: 800px;
    padding: 64px 64px 0;
    margin-left: auto;
    margin-right: auto;


}

#conten .section-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    /* cach xa chu*/
}

#conten .section-sub-heading {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    font-style: italic;

}

#conten .about {
    margin-top: 25px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.4;
}
#conten .mebers-list {
    margin-top: 48px;
    text-align: center;
    
}
#conten .mebers-item {
    float: left;
    width: 33.33333%;
 }
#conten .name {|
font-size: 15px;

}
#conten .meber{
    width: 154px;
    margin-top: 10px;
    border-radius: 4px;

}
#siider .text {}

#conten {}

#footer {}